<h2>Sobre nosotros</h2>

<p class="texto">os juegos son una parte de la historia de la humanidad. Los juegos de diferentes culturas durante una época
    determinada nos dan una idea de cómo era la vida de las personas que participaban en ellos. Mediante la preservación
    de los juegos, estamos intentando preservar la historia. Observando la historia, podemos comprender mejor el
    presente y vislumbrar el futuro.
    "El conocimiento se preserva mejor cuando se comparte"
    Una de nuestras misiones es preservar el patrimonio universal de los juegos. En todo el mundo ha habido intentos de
    preservar los juegos guardando en museos artefactos de juegos o mediante la documentación sobre su historia y cómo
    se jugaban por parte de los historiadores. Todos estos son esfuerzos positivos y loables, pero no son suficientes.
    Los deberían estar disponibles para que la gente pudiera jugar con ellos, en lugar de permanecer en museos o en
    libros de historia. Nosotros creemos que la mejor manera de preservar los juegos es, en realidad, dejar que las
    personas participen en ellos. Es con este propósito que nosotros digitalizamos los juegos, de manera que la gente
    pueda experimentar y jugar con ellos en forma de videojuegos.
    Los juegos se preservan mejor cuando se juega con ellos. Cuando un juego que se conoce se comparte entre la gente y
    pasa de una generación a otra, los juegos cobran vida y se inmortalizan. Incluso cuando se produce un desastre y
    todas las referencias físicas de un juego son destruidas, el juego sigue vivo gracias a que la gente lo conoce y lo
    juega. Cuando juega y aprende las reglas de los juegos, usted se convierte en parte de este esfuerzo por preservar
    los juegos. Los juegos se preservan en la mente de las personas, no en museos, ni en libros, ni en este sitio web.
    Juegue a los juegos, presérvelos y diviértase.
    Por cierto, si conoce algún juego que le gustaría preservar, póngase en contacto con nosotros y díganos todo sobre
    el mismo. Nosotros lo pasaremos a formato digital y lo distribuiremos para que sea jugado por más personas.</p>